__pycache__/
.ipynb_checkpoints/
.env

*.zip
*.rar
*.7z

*.pkl
*.joblib
*.parquet
*.feather
*.npy
*.npz

archive/
data/raw/
data/external/
data/interim/
data/cache/

data/processed/home_credit_merged_features.csv